/* src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  min-height: 100vh;
}

.checked-label {
  color: black !important;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ccc;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: #2d3734;
  border-color: #2d3734;
}

label {
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.checked-label {
  color: #3f4947;
  font-weight: bold;
}

input::placeholder {
  color: #333;
}